
 body { font-family: 'Roboto','Oxygen', sans-serif; font-size: 0.9em; align-content: center;}
 input:focus { background-color: #eee; border-color: #095C9E; }
 th { text-align: right; padding: 0.8em; }
 .container { text-align: center; width: 100% !important; margin: 8% auto; align-content: center; align-items: center;}
 ul { 
   text-align: justify; 
   list-style-type: none;
   padding: 5px 20px 5px 0;
  } 
 .infMsg { width: 50%; margin: 0 auto; text-align: center; color: #095C9E;  border-top: 1px solid navy;  border-bottom: 1px solid navy;  } 
 .errMsg { width: 50%; margin: 0 auto; text-align: center; color: #9e0b1f;  border-top: 1px solid navy;  border-bottom: 1px solid navy;  } 

  .navigation__list {
    list-style-type:none;
    display:flex;
    justify-content:flex-start; 
    width: 100%;
   }
   #logo{
     width: 20%;
     padding: 5%;
     align-self: flex-start;
   }

   .bg-inf{
     background-color: #095C9E;
     box-shadow:1px 1px 2px 0 rgba(0,0,0,0.75);
   }
  
   main{
     margin-top: 60px;
   }

   .width-fit{
     width: 100%;
   }

   #main-content{
      width: 90%;
   }

   .navigation {
      display: flex;
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      height: 50px;
      align-content: center;
   }

   .navpos{
     padding-top: 10px;
   }

   .navigation__link {
        transition:.3s ease;
        display:block;
        margin:15px;
        font-size:1.3em;
        text-decoration:none;
        color: #095C9E;
        padding-top: 20px;
        padding-bottom: 20px;
   }

   caption{
      font-size: 20px;
   }

   a, a:hover, a:visited{
    text-decoration: none;
    }

   .navbutton, .navbutton:hover, .navbutton:focus {
      background:none!important;
      color:white !important;
      font: inherit;
      text-decoration: none;
      cursor: pointer;
    }

    .standardbutton{
      background:none!important;
      color:#095C9E;
      border:none!important; 
      padding:0!important;
      font: inherit;
      text-decoration: none;
      cursor: pointer;
      margin-left: 5px;
    }

    .actionbutton{
      background:none!important;
      color: black;
      border:none!important; 
      padding:0!important;
      font: inherit;
      text-decoration: none;
      cursor: pointer;
      margin-left: 5px;
    }

    

    .button-link{
      color: black !important;
      text-decoration: none;
      cursor: pointer;
      margin-left: 5px !important;
      padding-top: 8px !important;
    }

    .table td,
    .table th {
      vertical-align: middle;
    }

    tr:nth-child(odd){
      background-color: white;
    }

    tr:nth-child(even){
      background-color: #9dc3e0;
    }

    .errMsg{
      color: red;
    }
    textarea {
      resize: none;
    }

    textarea:focus{
      border-color: #095C9E; 
    }

    .clickableParagraph{
      cursor: pointer;
      color: rgb(12,12,12);
      margin-right: 15px;
    }

    .internav{
      display: flex; 
      flex-direction: row; 
      justify-content: center;
      align-items: stretch;
      height: 30px;
      width: 100%;
      margin: 10px;
    }

    .content-container {
      margin: 0 auto;
      width: 50%;
      display: grid;
      grid-template-columns: repeat(2, 3fr);
      grid-gap: 5px;
      grid-auto-rows: minmax(50px, auto);
      grid-auto-columns: fit-content(50%);
    }

    .leftCol1{
      grid-column: 1;
      grid-row: 1 ;
    }

    .leftCol2{
      grid-column: 1;
      grid-row: 2;
    }

    .leftCol3{
      grid-column: 1;
      grid-row: 3;
    }
    .leftCol4{
      grid-column: 1;
      grid-row: 4;
    }

    .rigthCol1{
      align-items:stretch; 
      align-content:stretch; 
      grid-column: 2;
      grid-row: 1;
    }

    .rightCol2{
      grid-column: 2;
      grid-row: 2;
    }
    .rigthCol3{
      align-items:stretch; 
      align-content:stretch; 
      grid-column: 2;
      grid-row: 3;
    }
    .rigthCol4{
      align-items:stretch; 
      align-content:stretch; 
      grid-column: 2;
      grid-row: 4;
    }

    .logout{
      width: 50px;
      align-self: flex-end !important;
    }

    .userText{
      font-size: 12px;
      color: white;
      text-align: right;
      text-decoration: none;
      margin-right: 15px;
    }
 
    footer{
      background: white;
      text-align: center;
      width: 100%; 
      align-self: center;
      color: #095C9E;
      height: 28px;
      position: fixed; 
      bottom: 0;
      font-weight: bold;
      align-content: center;
      align-items: center;
    }

    hr{
      border-left: 1px #095C9E;
      background: #095C9E;
      width: 100%;
      height: 1px;
      position: fixed;
      bottom: 12px;
      align-self: center;
    }

    
    
